.map_all_wrap{
	background-color: #F3F3F3;
	margin: auto;
	margin-top: 20px;
	width: 70%
}

.store_tit{
	border-bottom: 1px solid white;
	padding-top: 30px;
}

h1 {
   margin-bottom: 40px;
   margin-left: 20px;
	
}

.map_wrap{
	margin-bottom: 20px;
	margin-top: 20px;
}


.new_info{
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.new_info h3{
	font-size: 24px;

}
